@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

@import "tailwindcss";

.body {
  font-family: "Tilt Warp", sans-serif;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Oswald", sans-serif;
  --color-brand: #7ac231;
  --color-brand-dark: #66a324;
  --color-dark: #0a0a0a;
  --color-darker: #000000;
  --color-light: #ffffff;
  --color-gray: #a3a3a3;
  --color-dark-card: #121212;
}

@layer base {
  html,
  body {
    background-color: #ffffff;
    color: #000000;
    font-family: var(--font-sans);
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}


